<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.algorithm.twophasecommit.mapper.ABCBankMapper" >

    <update id="transferable">
        update abc_bank set ammout = ammout - #{ammout} where id = 1 and ammout >= #{ammout};
    </update>

    <update id="takeMoney">
        update abc_bank set ammout = #{ammout} where id = 1;
    </update>
</mapper>